<launch>
    <arg name="player_name" default="p_fpower" />

    <!-- Launch rviz, loading configuration file -->
    <node name="rviz" pkg="rviz" type="rviz" args="--display-config $(find p_fpower_bringup)/config/visualize.rviz" required="false">
        <remap from="/move_base_simple/goal" to="/p_fpower/move_base_simple/goal"/>
    </node>

</launch>